<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa01xJlvRly-tIdAZfp3oBCBiWMwuDc-o</string>
	<key>GCM_SENDER_ID</key>
	<string>418310222087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amirkaidarov.DearDietDiary</string>
	<key>PROJECT_ID</key>
	<string>deardietdiary-f130d</string>
	<key>STORAGE_BUCKET</key>
	<string>deardietdiary-f130d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418310222087:ios:50674587843d6aa427d5a2</string>
</dict>
</plist>